[Unit]
Description=CollosFiscal Streamlit App
After=network.target

[Service]
User=collos
WorkingDirectory=/home/collos/apps/collosfiscal
ExecStart=/home/collos/apps/collosfiscal/start_app.sh
Restart=always
RestartSec=5
Environment=SUPABASE_HOST=aws-0-us-east-1.pooler.supabase.com
Environment=SUPABASE_PORT=6543
Environment=SUPABASE_DB_NAME=postgres
Environment=SUPABASE_USER=postgres.ddvpxxgdlqwmfugmdnvq
Environment=SUPABASE_PASSWORD=So Eu Sei 22
Environment=APP_ENV=production

[Install]
WantedBy=multi-user.target